@charset "utf-8";
#wrap{
    width:1020px;
    margin:0 auto;
    background: #16181C;
}
/*头部样式*/
#header{
    width:100%;
    height:50px;
    background: #222225;
    border-bottom:2px solid #9C1A1A;
}
.logo{
    float: left;
    width:180px;
    height: 50px;
    background: url(../images/logo.png) no-repeat 20px -8px;
    cursor: pointer;
}
.hd-center{
    float: left;
    width:340px;
    margin:15px 0 15px 40px;

}
.hd-center .btn{
    float: left;
    width:60px;
    height:20px;
    margin:0 15px;
    line-height:20px;
    border:1px solid #111;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.hd-center .btn i:nth-child(1){
    border-right:1px solid #18181A;
}
.hd-center .btn i{
    display: inline-block;
    width:25px;
    color: #999;
    cursor: pointer;
}
.hd-center .search{
    position: relative;
    float: left;
    width: 240px;
    height: 20px;
}
.hd-center input{
    width: 220px;
    border:none;
    outline:none;
    color:#D0D0D1;
    text-indent:10px;
    background: #151517;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.hd-center .search i{
    position: absolute;
    right:25px;
    top:-2px;
    color:#787879;
    cursor: pointer;
}
.hd-right{
    float: right;
    width:250px;
    height:20px;
    margin:15px 0;
    color: #838587;

}
.hd-right .hd-rgt-lfnav{
    float: left;
    width:109px;
    border-right:1px solid #18181A;


}
.hd-right .hd-rgt-rgtnav{
    float: right;
    width:124px;
}
.hd-right .hd-rgt-lfnav i{
    margin:0 8px;
    cursor:pointer;
}
.hd-right .hd-rgt-rgtnav i{
    margin:0 5px;
    cursor:pointer;
}
/*主体部分*/
#container{
    overflow: hidden;
    position: relative;
    width:100%;
    height:567px;

}

/*左边额列表*/
.lf-meaulist {
    float: left;
    width: 150px;
    background: #16181C;
    border-right:1px solid #23262C;
}
.lf-meaulist .meaulist-recommmand{
    width:130px;
    padding:10px;

}
.meaulist-recommmand h2{
    width:100%;
    height:20px;
    margin-bottom:10px;
    font-size:14px;
    color: #7C7C7C;
    line-height:20px;

}
.lf-meaulist ul li{
    width:100%;
    height:26px;
    text-indent:10px;
    line-height:26px;
    color: #ADAFB2;
    cursor: pointer;

}
.lf-meaulist ul li:hover{
    color: #E2E2E2;
}
.lf-meaulist ul li img{
    width:20px;
    height:20px;
    margin-right:5px;
    vertical-align: middle;
}
.lf-meaulist ul li span{
    font-size:14px;
}
/*当前播放的小盒子*/
.currentmusic{
    width:100%;
    margin-top:50px;
    height:50px;
    border-top:1px solid #23262C;
}
.currentmusic>img{
    float: left;
    width:40px;
    height:40px;
    margin:3px;
}
.currentmusic-songname,.currentmusic-singername{
    float: right;
    width:100px;
    height:25px;
    line-height:25px;
    color:white;
}
.currentmusic p{
    float: left;
    width:70px;
}

.currentmusic span{
    float: right;
    width:20px;
    height:20px;
    margin:5px 5px 0 0;
    background: url("../images/redheart.jpg");
    cursor: pointer;
}
.currentmusic-singername span{
    float: right;
    width:20px;
    height:20px;
    background: url("../images/btn.jpg");
    cursor: pointer;
}

/*container右边主体*/
.rgt-main{
    /*overflow: hidden;*/
    position: absolute;
    left:150px;
    top:0;
    width:869px;
    background: #16181C;
}
/*右边主体中的头部*/
.rgt-main .main-top{
    position: relative;
    width:861px;
    height:300px;
    border-bottom:1px solid #B82525;
}
.main-top .top-introduce{
    width:100%;

}
.top-introduce>img{
    width:200px;
    height:200px;
    margin:20px;

}
.top-detail{
    float:right;
    width: 620px;
    margin-top:20px;
    line-height:30px;

}
.tp-detail-hd span{
    float:left;
    padding:0 5px;
    margin:5px 0;
    font-size:14px;
    color:#E03F40;
    line-height:20px;
    border:1px solid #E03F40;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.tp-detail-hd h2{
    float:left;
    margin-left:10px;
    font-size:24px;
    color: #DCDDE4;
}
.person{
    width:100%;
    margin:10px 0;

}
.person img{
    width:35px;
    height:35px;
    vertical-align: middle;
    cursor: pointer;
}
.person span{
    margin:0 10px;
    color:#828385;

}
.tp-detail-btm{
    width:100%;
}
.tp-detail-btm span{
    padding:3px 8px;
    font-size:14px;
    color:#5C5D62;
    background: #25272B;
    border-radius: 5px;
    cursor: pointer;

}
.tp-detail-btm span:nth-child(1){
    color: #E03F40;
    border:1px solid #E03F40;
}
/*头部按钮*/
.top-btmBtn{
    position: absolute;
    bottom:1px;
    left:20px;
    width:250px;
}
.top-btmBtn span{
    display: inline-block;
    width:80px;
    height:26px;
    color:#DCDDE4;
    line-height:26px;
    text-align: center;
    background: #25272B;
    cursor: pointer;
}
.top-btmBtn span:nth-child(1){
    background: #B82525;
}



/*歌曲列表*/
.main-songlist{
    width:861px;

}
.main-songlist table{
    width:100%;
    color: #828385;
    line-height:24px;
    text-align: center;
}
table thead{
    width:100%;
    border-bottom:1px solid #23262C;
}
 table thead tr td:nth-child(1){
     width:50px;
     border-right:1px solid #23262C;
}
table thead tr td:nth-child(2){
    width:250px;
    border-right:1px solid #23262C;
}
table thead tr td:nth-child(3){
    width:150px;
    border-right:1px solid #23262C;
}
table thead tr td:nth-child(4){
    width:150px;
}
table tbody tr{
    width:100%;
    cursor: pointer;
}
table tbody tr:nth-child(even){
    background: #16181C;
}
table tbody tr:nth-child(odd){
    background: #1A1C20;
}
table tbody tr:hover{
    background: #2C2E32;
}
/*右边滑块*/
.rgt-main .scrollblock{
    position: absolute;
    right:0;
    top:0;
    width:8px;
    height:565px;
    /*background: #ff3710;*/
}
.rgt-main .scrollblock .block{
    position: absolute;
    top:10px;
    width:100%;
    height:160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #3d3f43;
}
/*分页部分*/
.paging{
    /*position: absolute;*/
    /*bottom:0;*/
    width:861px;
    height:30px;
    text-align: center;
    line-height:30px;
    border-top:1px solid #999999;
}
.paging span{
    padding:3px 2px;
    margin:5px;
    color: #555;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #2C2E32;
    cursor: pointer;
}
/*底部 */
#footer{
    width:100%;
    height:50px;
    background:#232326;
}
.playBtn{
    float: left;
    width:150px;
    padding:12px 0;
}
.playBtn i{
    margin:0 15px;
    color:#5F5F61;
    cursor: pointer;
}
.playBtn i:hover{
    color:#ddd;
}
/*时间进度条*/
.time{
    float: left;
    width:500px;
    height:30px;
    line-height:30px;
    margin:10px 0;

}
.time span{
    float: left;
    margin:0 10px;
    color:#DCDDE4;
}
.time .timeprogrssbar{
    float: left;
    width:360px;
    height:5px;
    margin:12px 8px;
    background: #454546;
}
.timeprogrssbar .redbar{
    position: relative;
    width:0;
    height:100%;
    background-color: #B82525;
}
.timeprogrssbar .redbar .redpoint{
    position: absolute;
    top:-4px;
    right:-4px;
    width:4px;
    height:4px;
    background-color: #B82525;
    border:4px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;

}

/*音量*/
.volume{
    float: left;
    width:300px;
    height:30px;
    margin:10px 20px;

}
.volume i{
    float: left;
    color:#79797B;
    cursor: pointer;
}
.volume i:hover{
    color:#eee;
}
.volume .volumeprogress{
    float: left;
    width:150px;
    height:5px;
    margin:10px 16px;
    background: #464647;
}
.volumeprogress .v-redbar{
    position: relative;
    width:100%;
    height:100%;
    background:#B82525;

}
.volumeprogress .v-redbar .v-redpoint{
    position: absolute;
    top:-4px;
    right:-4px;
    width:4px;
    height:4px;
    border:4px solid #fff;
    background-color: #B82525;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}